* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #EEAECA;
    background: radial-gradient(circle, rgb(198, 203, 238) 100%, rgb(231, 187, 206) 0%);
    
    
}
.calculator {
    width: 300px;
    background-color: #f2f2f2;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(14, 14, 13);
    background: #EEAECA;
    background: radial-gradient(circle, rgb(235, 180, 204) 0%, rgb(156, 196, 241) 100%);
    border: 1px solid #333;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
   
}
input {
    width: 100%;
    height: 55px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    text-align: right;
}
.clear {
    width: 46%;
    color: #d80020;
    font-size: 18px;
    font-weight: bold;
}
.delete {
    color: #d80020;
    font-size: 18px;
    font-weight: bold;
}
button {
    width: 21.5%;
    height: 50px;
    margin: 1%;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    background-color: #9ea7ccda;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.4), inset 0px -18px 36px rgba(50, 50, 93, 0.25);
}
button:hover {
    color: #3e4563;
    text-shadow: 3px 3px 3px #6e6969;
    background-color: #5e615f;
     background-color: #9a9fb4da;
    font-weight: bold;
    cursor: pointer;
}
button:focus {
    text-shadow: 4px 4px 4px #272626;
    background-color: #033f03;
    background-color: #8690bb;
    color: #fff;

}
.operator {
    background-color: #ff9800;
    color: #fff;
    color: #000;
    background-color: #e67e22;
    font-weight: bold;
}
.operator:hover {
    background-color: #ff9800;
    color: #fff;
    background-color: #e67e22;
    text-shadow: 3px 3px 3px #6e6969;
    font-weight: bold;
    cursor: grab;
}
.operator:focus {
    background-color: #ff9800;
    color: #fff;
    outline: none;
    background-color: #d35400;
    text-shadow: 4px 4px 4px #272626;
}
.delete:hover {
    color: #000;
}
.clear:hover {
    color: #000;
}
.delete:focus {
    color: #ad031c;
}
.clear:focus {
    color: #ad031c;
    font-weight: bold;
}